**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/*.egg-info
**/.venv
**/.git
**/.github
**/node_modules
**/.next
**/.idea
**/.vscode
**/.DS_Store
**/.env
**/.env.local
**/coverage*
**/htmlcov
**/.coverage
**/dist
**/build
**/tests
**/Dockerfile
**/*.md
infra/
docs/
scripts/
